h1{
text-align: center;
color: slateblue;
font-family: Arial, Helvetica, sans-serif;


}

h1{

color:blueviolet;
text-align: center;
font-family: Arial, Helvetica, sans-serif;


}

p{

text-align: center;




}


