h1{
text-align: center;
color: rgb(43, 37, 85);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}


p{

text-align: center;




}


body{

background-color: powderblue;





}