h1{
text-align: center;
color: rgb(43, 37, 85);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}


p{

text-align: center;




}


body{

background-color: powderblue;





}



.Puppies_tesxt_img_continer{

display: grid; 
grid-template-columns: 1fr 1fr;








outline: 2px solid lime;


}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


table{


text-align: center


}





